*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 260px 1fr;
    min-height: 100vh;
}


.navbar{
    padding: 20px;
    height: 100%;
    background-color: white;
}

.navbar h2{
    border-bottom: 2px solid black;
    padding: 7px;
}

.navbar-items{
    margin: 15px;
    list-style: none; 
    gap: 10px;
}

.navbar-item{
    padding: 20px;
}

.navbar-item a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
    color: black;
}

main{
    background-color: #f4f6f7;
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 30px;
    gap: 30px   
}

.cards{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   gap: 20px;
   margin-bottom: 100px;
   margin-top: 100px;

}

.card{
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    border: 2px solid black;
    background-color: white;
    padding: 25px;
    display: flex;
    align-items: center;
    gap: 20px;    
}

.card div:last-child{
    display: flex;
    flex-direction: column;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.grafik{
    background-color: white;
    border: 2px solid black;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    min-height: 300px
    
}


.container-grid {
    display: grid;
    grid-template-columns: 260px 1fr;
    min-height: 100vh;
}

.navbar-side {
    padding: 20px;
    height: 100%;
    background-color: white;
    border-right: 1px solid #dee2e6;
}


.card-box {
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    border: 2px solid black; 
    background-color: white;
    padding: 25px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 30px;
}


.grafik-box {
    background-color: white;
    border: 2px solid black;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
}

.box-header {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}


.chart-container {
    position: relative;
    height: 300px; 
    width: 100%;
}


@media (max-width: 900px) {
    .content-grid {
        grid-template-columns: 1fr; 
    }
}